/Lanchonete/nbproject/private/
/TesteGUI/nbproject/private/
/Lanchonete/build/
Lanchonete/nbproject/project.properties
/Transpoint/build/
/Transpoint/dist/
/Exerc3POO/nbproject/private/
/FabricaLocadora/nbproject/private/
/FabricaDeBebidas/nbproject/private/
/FabricaDeBebidas/build/
/FabricaLocadora/build/